<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>STUDENT PORTAL</display-name>
  <welcome-file-list>
    <welcome-file>Student.html</welcome-file>
  </welcome-file-list>
  
  <servlet-mapping>
  <servlet-name>StudentInformation</servlet-name>
  <url-pattern>/rs</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>StudentInformation</servlet-name>
  <servlet-class>com.qsp.jdbcApp.StudentInformation</servlet-class>
  </servlet>
</web-app>